nb-configuration.xml
.settings/
target/
nbproject/
bin/
build/
*.class
*.jar
*.iml
*.map
.project
.classpath
.editorconfig
.tern-project
${db}/
node_modules/
typings
.vscode/
*ouoes.js
*/src/*.js
*.map
*.log
.idea
.DS_Store
*.component.js
*.pipes.js
*.module.js
*.service.js
*.routes.js
