nb-configuration.xml
.settings/
target/
nbproject/
bin/
build/
*.class
*.jar
*.map
.project
.classpath
.editorconfig
.tern-project
${db}/
node_modules/
typings
.vscode/
*/src/*component.js
*/src/*module.js
*/src/app/*.js
*.map
*.log
.idea
.DS_Store
