<div class="row">
    <div class="col-md-12">
        <form>
        	<div class="input-group">
        		<span class="input-group-btn">
        			<a href="fotos/new" class="btn btn-default">Nova foto</a>
        		</span>
            	<input type="text" class="form-control" placeholder="Filtrar" ng-model="filtro" ng-model-options="{debounce: 500}" />
            </div>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="alert alert-info" ng-show="mensagem.length">{{mensagem}}</div>
    </div>
</div>
<div class="row">
    <meu-painel class="col-md-2 painel-animado " ng-repeat="foto in fotos | filter:{titulo:filtro}" titulo="{{foto.titulo}}">
        <minha-foto titulo="{{::foto.titulo}}" url-imagem="{{::foto.url}}"></minha-foto>
        <a href="fotos/edit/{{::foto._id}}" class="btn btn-primary btn-block">Editar</a>
        <meu-botao-perigo nome="remove" acao="remove(foto)" />
    </meu-painel>
</div>
<div class="row">
    <meus-titulos></meus-titulos>
</div>