<nav>
    <div class="nav-wrapper">
        <a routerLink="" class="brand-logo right">Routes</a>
        <ul id="nav-mobile" class="left hide-on-med-and-down">
            <li routerLinkActive="active"><a routerLink="/">Home</a></li>
            <li routerLinkActive="active"><a routerLink="/login">Login</a></li>
            <li routerLinkActive="active"><a routerLink="/courses">Courses</a></li>
            <li routerLinkActive="active"><a routerLink="/students">Students</a></li>
            <li routerLinkActive="active"><a [routerLink]="['courses', courseId.value]">Course with ID</a></li>
        </ul>
    </div>
</nav>

<div class="container">
    <p>Enter the course ID:</p>
    <input #courseId />

    <router-outlet></router-outlet>
</div>